h1 {
    text-align: center;
    color: white;
    height: 100px;
    background-color: black;
    border: black solid 2px;
    margin: 2px 2px 0px;
    font-size: 97px;
    width: auto;
    border-radius: 25px 25px 0px 0px;
    background: black;
}

h1:hover {
    color:#F09C00;
}

h2{
    text-align: center;
    font-size: 45px;
    color: darkblue;
}

nav {
    background-color: black;
    margin: 0px 2px 0px 2px;
    text-align: center;
    padding: 10px;
    width: auto;
    color: white;
    height: 30px;
    border-radius: 0px 0px 25px 25px;
}

#nav-bar {
    display: inline;;
    padding: 30px;
    color: white;

}

#nav-color {
    color: white;
}

#nav-color:hover {
    color: #0068F0;
}