h1 {
    text-align: center;
    color: white;
    height: 100px;
    background-color: black;
    border-top: white solid 5px;
    border-left: white solid 5px;
    border-right: white solid 5px;
    margin: 2px 5px 0px;
    font-size: 110px;
    width: auto;
    border-radius: 25px 25px 0px 0px;
    background: black;
}

span{
    display: block;
    background-image: url(../img/FireAnimation.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: fire 40s linear infinite;
    -webkit-backface-visibility: hidden;
}

@keyframes fire{
    0%{background-position: 0% -50%;}
    0%{background-position: 100% -50%;}
}

body{
    background-image: url(../img/lightningBackground.jpeg);
    background-position: center;
    background-size: cover;
}

h2{
    text-align: center;
    font-size: 45px;
    color: darkblue;
}

nav {
    background-color: black;
    margin: 0px 5px 0px 5px;
    text-align: center;
    padding: 10px;
    width: auto;
    color: white;
    height: 30px;
    border-radius: 0px 0px 25px 25px;
    border-left: white solid 5px;
    border-right: white solid 5px;
    border-bottom: white solid 5px;
}

#nav-bar {
    display: inline;;
    padding: 30px;
    color: white;

}

#nav-color {
    color: white;
}

#nav-color:hover {
    color: #0068F0;
}


form {
    color: ivory;
    border: 5px solid white;
    border-radius: 25px;
    padding: 150px 50px 150px 50px;
    margin: 25px 0px 0px 5px;
    width: 30%;
    height: 400px;
    text-align: center;
    background-image: url(../img/cardBackground.jpeg);
    background-size: 500px;
    background-position: center;
    background-size: cover;
    font-size: x-large;
    position: absolute;
    top: 165px;
}

input {
    color: ivory;
    border: white 3px medium;
    width: 80%;
    height: 5px;
    background: transparent;
    padding: 25px;
    font-size: large;
    margin: 15px;
  
}

input:focus {
    background-color: #7A5A01;
    opacity: 100%;
}

#battle-button {
    color: ivory;
    height: auto;
    background-image: url(../img/watervsfire.jpeg);
    background-position: center;
    margin: 40px;
}

#form-name-background{
    padding: 25px;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-image: url(../img/FireAnimation.jpg);
}

#form-name-background2{
    padding: 25px;
    color: white;
    margin: 0px;
    padding: 10px;
    border-radius: 25px;
    background-image: url(../img/waterAnimation.jpg);
}

#about-game {
    position: absolute;
    top: 450px;
    left: 30%;
    float: right;
    color: white;
    border: 5px solid white;
    height: 237px;
    width: 50%;
    margin: 200px;
    border-radius: 25px;
    text-align: center;
}

#about-game-font {
    font-size: x-large;
}

#battle-button-render {
    color: ivory;
    border: 5px solid white;
    border-radius: 25px;
    padding: 150px 50px 150px 50px;
    margin: 25px 0px 0px 5px;
    width: 30%;
    height: 400px;
    text-align: center;
    /* background-image: url(../img/cardBackground.jpeg); */
    background-size: 500px;
    background-position: center;
    background-size: cover;
    font-size: x-large;
    /* position: absolute; */
    top: 165px;
}

#input-render {

}

.rain {
    height: 100vh;
    background-image: url(../img/rain.png);
    animation: rain 1s linear infinite;
} 

@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
} 

.rain::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/lightningStrike3.png);
    transform: rotate(180deg);
    animation: lightning 4s linear infinite;
    opacity: 1;
}

@keyframes lightning{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
} 

/*//// gamepage //*/

#playerHand{
    display: inline;
}
