h1 {
    text-align: center;
    color: white;
    height: 100px;
    background-color: black;
    border: black solid 2px;
    margin: 2px 50px 0px;
    font-size: 97px;
    width: auto;
    border-radius: 25px 25px 0px 0px;
    background: black;
}

h1:hover {
    color:#F09C00;
}

h2{
    text-align: center;
    font-size: 45px;
    color: darkblue;
}

nav {
    background-color: black;
    margin: 0px 50px 0px 50px;
    text-align: center;
    padding: 10px;
    width: auto;
    color: white;
    height: 30px;
    border-radius: 0px 0px 25px 25px;
}

#nav-bar {
    display: inline;;
    padding: 30px;
    color: white;

}

#nav-color {
    color: white;
}

#nav-color:hover {
    color: #0068F0;
}

form {
    border: 8px solid black;
    border-radius: 25px;
    padding: 150px 50px 50px 50px;
    margin: 50px;
    width: 30%;
    height: 200px;
    text-align: center;
    background-image: url('/img/Human-warrior.jpeg');
    background-size: 700px;
    font-size: x-large;
}

input {
    border: black 3px medium;
    width: 400px;
    height: 25px;
    background: transparent;
    padding: 15px;
    font-size: large;
  
}

input:focus {
    background-color: #0068F0;
    opacity: 100%;
}

/*//// gamepage //*/

#playerHand{
    display: inline;
}